doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    
    script(src='/javascripts/leaflet.js')
    script(src='/javascripts/script.js', defer)
  body
    block content
